<div id="scroller__container">
  <div #jsScroller class="scroller" (scroll)="handleScroll()">
    <div #jsScrollerOffset class="scroller__offset">
      <app-item class="list-row" *ngFor="let item of virtualItems; let i = index; trackBy: trackByFn;" [item]="item" [id]="item.id" [index]="startIndex + i"></app-item>
    </div>
    <div #jsScrollerSizer class="scroller__sizer" [style.height.px]="sizerHeight"></div>
  </div>
</div>
<form>
  Insert Index:
  <div>
    <input type="number" #insertIndex1>
  </div>
  <div>
    <input type="number" #insertIndex2>
  </div>
  <div>
    <input type="number" #insertIndex3>
  </div>
  <div>
    <input type="number" #insertIndex4>
  </div>
  <div>
    <input type="number" #insertIndex5>
  </div>
  <div>
    <button type="submit" (click)="bulkAddAt(insertIndex1.value,insertIndex2.value,insertIndex3.value,insertIndex4.value,insertIndex5.value);insertIndex1.value=insertIndex2.value=insertIndex3.value=insertIndex4.value=insertIndex5.value = null">Add</button>
  </div>
</form>
<div *ngIf="testItem" style="
    position: absolute;
    top: -10000px;
    z-index: -1000;
">
  <div #testItemComponent>
    <app-item [item]="testItem" [index]="newIndex"></app-item>
  </div>
</div>
